<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, task_path(task) %> |
      <%= task.description %>
      <p><strong>Deadline:</strong> <%= task.deadline %>
      <br>
      <% if task.completed %>
        (completed)
      <% else %>
        (not completed)
      <% end %>
      <hr>
    </li>
  <% end %>

</ul>








